﻿@model AuthenticationApp.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.LabelFor(c => c.Username)</td>
            <td>@Html.TextBoxFor(c => c.Username)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.Password)</td>
            <td>@Html.TextBoxFor(c => c.Password)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login" /></td>
        </tr>

    </table>
}

